Package: com.michael.timemachine
Version: 0.12.0
Section: Tweaks
Name: TimeMachine on iOS
Author: Halo Michael <yc992147156@me.com>
Sponsor: Halo Michael <yc992147156@me.com>
Maintainer: Halo Michael <yc992147156@me.com>
Depends: firmware (>= 10.3), launchctl, preferenceloader
Replaces: com.michael.TimeMachineLite, com.yourepo.halo-michael.timemachineonios, com.yourepo.halo-michael.timemachineonioslite
Conflicts: com.michael.TimeMachineLite, com.yourepo.halo-michael.timemachineonios, com.yourepo.halo-michael.timemachineonioslite
Provides: com.michael.TimeMachineLite, com.yourepo.halo-michael.timemachineonios, com.yourepo.halo-michael.timemachineonioslite
Architecture: iphoneos-arm
Description:  TimeMachine on iOS will creat a rootfs snapshot and a datafs snapshot at 2:00AM everyday;and delete the oldest snapshots when you have more than default 3(or other you set) snapshots.
 TimeMachine on iOS will creat a rootfs snapshot and a datafs snapshot at 2:00AM everyday;and delete the oldest snapshots when you have more than default 3(or other you set) snapshots.
 You can use "setTimeMachine" on Terminal to select the maximum number of snapshots you want to backup for TimeMachine.
 Usage:	setTimeMachine [OPTIONS...]
 	-f <vol> -n <num>	Set the max number of snapshots that need to be backed up for rootfs/datafs.
 	-s			Show current settings.
 If you want to restore a snapshot on datafs, please use Snapback.
 You can get Snapback on midnightchips’s repo: https://repo.midnightchips.me
