Package: com.michael.TimeMachine
Version: 0.2.1
Section: Tweaks
Name: TimeMachine on iOS
Author: halo_michael <yc992147156@me.com>
Sponsor: halo_michael <yc992147156@me.com>
Maintainer: halo_michael <yc992147156@me.com>
Depends: com.bingner.snappy|io.okanon.snaputil, com.bingner.plutil, coreutils, firmware (>= 10.3), firmware (<= 12.1.2)
Replaces: com.michael.TimeMachineLite, com.yourepo.halo-michael.timemachineonios, com.yourepo.halo-michael.timemachineonioslite
Conflicts: com.michael.TimeMachineLite, com.yourepo.halo-michael.timemachineonios, com.yourepo.halo-michael.timemachineonioslite
Provides: com.michael.TimeMachineLite, com.yourepo.halo-michael.timemachineonios, com.yourepo.halo-michael.timemachineonioslite
Architecture: iphoneos-arm
Description: Now you can use "setTimeMachine" on Terminal to select the maximum number of snapshots you want to backup for TimeMachine!
 TimeMachine on iOS will creat a rootfs snapshot and a datafs snapshot at 2:00AM everyday;and delete the oldest snapshots when you have more than 7 snapshots.
 TimeMachine on iOS will creat a rootfs snapshot and a datafs snapshot at 2:00AM everyday;and delete the oldest snapshots when you have more than 7 snapshots.
 .
 ⚠️TimeMachine on iOS will rename your orig snapshot's name from orig-fs to com.apple.TimeMachine.orig-fs,because when you use a snapshot to recovery,jailbreak will rename this snapshot to orig-fs again;it will remove your truly orig rootfs snapshot;however,you can still delete this tweak to rename your truly rootfs snapshot from com.apple.TimeMachine.orig-fs to orig-fs again.After that,you may not able to use 3rd-recovery tools like Rollectra to recovery your rootfs.
 You can use this command:
 snappy -f / -r [the snapshot's name that you want to recovery] -x ⚠️or⚠️ snapUtil -n [the snapshot's name that you want to recovery] com.apple.os.update-`guid` /
 like: snappy -f / -r com.apple.TimeMachine.orig-fs -x ⚠️or⚠️ snapUtil -n com.apple.TimeMachine.orig-fs com.apple.os.update-`guid` /
 to recovery your rootfs to the time that you have created the snapshot;com.apple.TimeMachine.orig-fs is your orig rootfs snapshot.
 You can use this command:
 snappy -f /(or /private/var) -l ⚠️or⚠️ snapUtil -l /(or /private/var)
 to list your snapshot on /(or /private/var)
 .
 After remove TimeMachine on iOS
 You should use this command:
 snappy -f /(or /private/var) -d [snapshot's name] ⚠️or⚠️ snapUtil -d [snapshot's name] /(or /private/var)
 to remove the snapshot that TimeMachine have created by yourself.
 ⚠️DO NOT REMOVE THE SNAPSHOT NAMED "electra-prejailbreak" OR "orig-fs" ; THEY ARE YOUR ORIG SNAPSHOT!
