Package: com.michael.TimeMachine
Name: TimeMachineiOS
Depends: preferenceloader, firmware (>= 10.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome preference bundle by SettingsKit!
Author: halo_michael
Section: Tweaks
