Package: com.michael.TimeMachineLite
Version: 0.1.1
Section: Tweaks
Name: TimeMachine on iOS Lite
Author: halo_michael <yc992147156@me.com>
Sponsor: halo_michael <yc992147156@me.com>
Maintainer: halo_michael <yc992147156@me.com>
Depends: com.bingner.snappy|io.okanon.snaputil, firmware (>= 10.3), firmware (<= 12.1.2)
Replaces: com.michael.TimeMachine, com.yourepo.halo-michael.timemachineonios, com.yourepo.halo-michael.timemachineonioslite
Conflicts: com.michael.TimeMachine, com.yourepo.halo-michael.timemachineonios, com.yourepo.halo-michael.timemachineonioslite
Provides: com.michael.TimeMachine, com.yourepo.halo-michael.timemachineonios, com.yourepo.halo-michael.timemachineonioslite
Architecture: iphoneos-arm
Description: TimeMachine on iOS will creat a rootfs snapshot at 2:00AM everyday;and delete the oldest snapshot when you have more than 7 snapshots.
 TimeMachine on iOS will creat a rootfs snapshot at 2:00AM everyday;and delete the oldest snapshot when you have more than 7 snapshots.
 .
 ⚠️TimeMachine on iOS will rename your orig snapshot's name from orig-fs to com.apple.TimeMachine.orig-fs,because when you use a snapshot to recovery,jailbreak will rename this snapshot to orig-fs again;it will remove your truly orig rootfs snapshot;however,you can still delete this tweak to rename your truly rootfs snapshot from com.apple.TimeMachine.orig-fs to orig-fs again.After that,you may not able to use 3rd-recovery tools like Rollectra to recovery your rootfs.
 You can use this command:
 snappy -f / -r [the snapshot's name that you want to recovery] -x ⚠️or⚠️ snapUtil -n [the snapshot's name that you want to recovery] com.apple.os.update-`guid` /
 like: snappy -f / -r com.apple.TimeMachine.orig-fs -x ⚠️or⚠️ snapUtil -n com.apple.TimeMachine.orig-fs com.apple.os.update-`guid` /
 to recovery your rootfs to the time that you have created the snapshot;com.apple.TimeMachine.orig-fs is your orig rootfs snapshot.
 You can use this command:
 snappy -f / -l ⚠️or⚠️ snapUtil -l /
 to list your snapshot on /
 .
 After remove TimeMachine on iOS
 You should use this command:
 snappy -f / -d [snapshot's name] ⚠️or⚠️ snapUtil -d [snapshot's name] /
 to remove the snapshot that TimeMachine have created by yourself.
 ⚠️DO NOT REMOVE THE SNAPSHOT NAMED "electra-prejailbreak" OR "orig-fs" ; THEY ARE YOUR ORIG SNAPSHOT!

